# LaTeX output files
*.aux
*.bbl
*.blg
*.brf
*.log
*.lof
*.lot
*.fls
*.out
*.toc
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb
best_fold_1.pth
best_fold_2.pth
best_fold_3.pth
best_fold_4.pth
best_fold_5.pth
